{% extends 'main/base.html' %}
{% load static %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <div class="authorization-form">
        <div class="authorization-text">
            <h1>Авторизация на сайте</h1>
            <div>
                <input class="field" type="email" placeholder="example@gmail.com">
            </div>
            <div>
                <input class="field" type="password" placeholder="*************">
            </div>
            <input type="submit">
            <div class="problems">
                <a href="{% url 'main:reminder' %}">Забыли пароль?</a>
            </div>
            <div class="problems">
                <a href="{% url 'main:registration' %}">Еще не зарегистрировались?</a>
            </div>
        </div>
    </div>
{% endblock %}