{% extends 'main/base.html' %}
{% load static %}

{% block title %}
    {{ title }}
{% endblock %}


{% block content %}
    <nav>
        <ul class="filters">
            <li></li>
            <li><button data-f="card" class="filter">Всё</button></li>
            <li><button data-f="economy" class="filter">Экономика</button></li>
            <li><button data-f="parameters" class="filter">Параметры</button></li>
            <li><button data-f="collection" class="filter">Подборки задач</button></li>
            <li><button data-f="books" class="filter">Пособия</button></li>
            <li><button data-f="other" class="filter">Прочее</button></li>
        </ul>
    </nav>

    <div class="cards">

        <div class="card collection parameters" style="width: 18rem;">
            <img src="{% static 'depends/images/products/1.0 Простые задачи с параметром - для index.html.PNG' %}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Простые параметры на ЕГЭ</h5>
                <p class="card-text">Сборник простых задач с параметрами (с решениями)</p>
                <a href="#" class="btn btn-primary">Подробнее</a>
            </div>
        </div>

        <div class="card collection parameters" style="width: 18rem;">
            <img src="{% static 'depends/images/products/2.0 Задачи с параметром из реальных ЕГЭ 2018-2023 гг, сборник задач (с ответами) - для index.html.PNG' %}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Задачи с параметрами из реальных ЕГЭ</h5>
                <p class="card-text">Сборник задач из ЕГЭ 2018-2023 гг. (с решениями)</p>
                <a href="#" class="btn btn-primary">Подробнее</a>
            </div>
        </div>

        <div class="card collection economy" style="width: 18rem;">
            <img src="{% static 'depends/images/products/3.0 Экономические задачи из реальных ЕГЭ 2018-2023 гг, сборник задач (с ответами) - для index.html.PNG' %}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Экономические задачи из реальных ЕГЭ</h5>
                <p class="card-text">Сборник задач из ЕГЭ 2018-2023 гг. (с решениями)</p>
                <a href="#" class="btn btn-primary">Подробнее</a>
            </div>
        </div>

        <div class="card collection parameters" style="width: 18rem;">
            <img src="{% static 'depends/images/products/4.0 Показательные уравнения с параметрами, сборник задач (с ответами) - для index.html.PNG' %}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Показательные уравнения с параметрами</h5>
                <p class="card-text">Сборник из 14 уравнений, часть из которых уникальна (с решениями)</p>
                <a href="#" class="btn btn-primary">Подробнее</a>
            </div>
        </div>

        <div class="card collection economy" style="width: 18rem;">
            <img src="{% static 'depends/images/products/5.0 Экономические задачи ЕГЭ на кредиты с дифференцированной схемой расчета  (с ответами, БЕЗ решений) - для index.html.PNG' %}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Экономические задачи на дифференцированные платежи</h5>
                <p class="card-text">Сборник задач из РЕШУ ЕГЭ, переписанных для уникализации условия</p>
                <a href="#" class="btn btn-primary">Подробнее</a>
            </div>
        </div>

        <div class="card collection parameters" style="width: 18rem;">
            <img src="{% static 'depends/images/products/6.0 Тригонометрические уравнения с параметром, сборник задач (с ответами) - для index.html.PNG' %}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Тригонометрические уравнения с параметрами</h5>
                <p class="card-text">Сборник из 26 тригонометрических уравнений с параметрами (с решениями)</p>
                <a href="#" class="btn btn-primary">Подробнее</a>
            </div>
        </div>

        <div class="card other" style="width: 18rem;">
            <img src="{% static 'depends/images/products/7.0 Презентация по теме Векторы на ЕГЭ (2-ая задача) - для index.html.PNG' %}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Векторы (2-ая задача ЕГЭ)</h5>
                <p class="card-text">Презентация по теме векторы на ЕГЭ, с минимальной теорией и заданиями (с решениями и без)</p>
                <a href="#" class="btn btn-primary">Подробнее</a>
            </div>
        </div>

    </div>
    <script src="{% static 'depends/js/main.js' %}"></script>
{% endblock %}