{% extends 'main/base.html' %}
{% load static %}

{% block title %}
    Материалы для преподавания и самоподготовки
{% endblock %}


{% block content %}
    <nav>
        <ul class="filters">
            <li></li>
            <li><button data-f="card" class="filter">Всё</button></li>
            <li><button data-f="trigonometry" class="filter">Тригонометрия</button></li>
            <li><button data-f="derivative" class="filter">Производная</button></li>
            <li><button data-f="log" class="filter">Логарифм</button></li>
            <li><button data-f="collection" class="filter">Подборки задач</button></li>
            <li><button data-f="books" class="filter">Пособия</button></li>
        </ul>
    </nav>

    <div class="cards">

        <div class="collection trigonometry card" style="width: 18rem;">
            <img src="{% static 'depends/images/plug.PNG' %}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Подборка задач по тригонометрии</h5>
                <p class="card-text">Some quick example text content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>

        <div class="books log card" style="width: 18rem;">
            <img src="{% static 'depends/images/plug.PNG' %}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Пособие по логарифмам</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk example
                    text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>

        <div class="derivative card" style="width: 18rem;">
            <img src="{% static 'depends/images/plug.PNG' %}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Материал по производной</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>

        <div class="trigonometry books card" style="width: 18rem;">
            <img src="{% static 'depends/images/plug.PNG' %}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Пособие по тригонометрии</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>

        <div class="log card" style="width: 18rem;">
            <img src="{% static 'depends/images/plug.PNG' %}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Логарифмы</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>

        <div class="derivative books card" style="width: 18rem;">
            <img src="{% static 'depends/images/plug.PNG' %}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Пособие по производной</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>

        <div class="trigonometry log card" style="width: 18rem;">
            <img src="{% static 'depends/images/plug.PNG' %}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Тригометрия и логарифм</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>

        <div class="collection log card" style="width: 18rem;">
            <img src="{% static 'depends/images/plug.PNG' %}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Сборник задач по логарифмам</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>

    </div>
    <script src="{% static 'depends/js/main.js' %}"></script>
{% endblock %}